In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(
    'https://raw.githubusercontent.com/andreagiussani/Applied_Machine_Learning_with_Python/master/data/bike_sharing.csv'
)

In [3]:
df.head()

   hr  holiday  workingday  ...  Clear to partly cloudy  Light Precipitation  Misty
0   0        0           0  ...                       1                    0      0
1   1        0           0  ...                       1                    0      0
2   2        0           0  ...                       1                    0      0
3   3        0           0  ...                       1                    0      0
4   4        0           0  ...                       1                    0      0

[5 rows x 13 columns]

In [6]:
df.shape

(1488, 13)

In [4]:
for index, row in df.iterrows():
  if row['cnt'] > 850:
    print(index, row['cnt'])

210 872.0
233 872.0
569 869.0
570 877.0
593 913.0
594 891.0
738 857.0
762 891.0
785 865.0
881 858.0
905 868.0
929 858.0
930 862.0
1074 854.0
1097 851.0
1121 897.0
1217 893.0
1241 878.0
1290 941.0
1409 864.0
1433 870.0
1458 853.0

In [5]:
for col in df['cnt'].iteritems():
  if col[1] > 850:
    print(col)

(210, 872)
(233, 872)
(569, 869)
(570, 877)
(593, 913)
(594, 891)
(738, 857)
(762, 891)
(785, 865)
(881, 858)
(905, 868)
(929, 858)
(930, 862)
(1074, 854)
(1097, 851)
(1121, 897)
(1217, 893)
(1241, 878)
(1290, 941)
(1409, 864)
(1433, 870)
(1458, 853)

In [9]:
def get_temperature(row, col1, col2):
  return row[col1] + row[col2]

In [10]:
for idx, row in df.iterrows():
  row['new_col'] = get_temperature(row, 'temp', 'atemp')

In [11]:
df.head()

   hr  holiday  workingday  ...  Clear to partly cloudy  Light Precipitation  Misty
0   0        0           0  ...                       1                    0      0
1   1        0           0  ...                       1                    0      0
2   2        0           0  ...                       1                    0      0
3   3        0           0  ...                       1                    0      0
4   4        0           0  ...                       1                    0      0

[5 rows x 13 columns]

In [14]:
def new_method(data):
  new_data = pd.DataFrame(columns=list(data))
  for idx, row in df.iterrows():
    row['new_col'] = get_temperature(row, 'temp', 'atemp')
    new_data = new_data.append(row)
  return new_data

In [17]:
%%timeit
df_iterrows = new_method(df)

1 loop, best of 5: 3.52 s per loop

In [16]:
df_iterrows.head()

    hr  holiday  workingday  ...  Light Precipitation  Misty  new_col
0  0.0      0.0         0.0  ...                  0.0    0.0     1.42
1  1.0      0.0         0.0  ...                  0.0    0.0     1.44
2  2.0      0.0         0.0  ...                  0.0    0.0     1.46
3  3.0      0.0         0.0  ...                  0.0    0.0     1.56
4  4.0      0.0         0.0  ...                  0.0    0.0     1.49

[5 rows x 14 columns]

In [18]:
df['new_col_apply'] = df.apply(lambda x: get_temperature(x, 'temp', 'atemp'), axis=1)

In [19]:
%%timeit
df['new_col_apply'] = df.apply(lambda x: get_temperature(x, 'temp', 'atemp'), axis=1)

100 loops, best of 5: 18.8 ms per loop

In [36]:
def new_method_itertuples(data):
  new_col_list = []
  for row in df.itertuples(index=False):
    # print(row)
    new_col_list.append(get_temperature(row, 3, 4))
  data['new_col'] = new_col_list
  return data

In [39]:
%%timeit
df_itertuples = new_method_itertuples(df)

100 loops, best of 5: 4.51 ms per loop

In [38]:
df_itertuples.head()

   hr  holiday  workingday  ...  Misty  new_col_apply  new_col
0   0        0           0  ...      0           1.42     1.42
1   1        0           0  ...      0           1.44     1.44
2   2        0           0  ...      0           1.46     1.46
3   3        0           0  ...      0           1.56     1.56
4   4        0           0  ...      0           1.49     1.49

[5 rows x 15 columns]

In [40]:
# eval

In [41]:
def get_temperature_eval(df):
  df.eval('new_col_eval = temp + atemp', inplace=True)
  return df

In [42]:
df_eval = get_temperature_eval(df)

In [43]:
%%timeit
df_eval = get_temperature_eval(df)

100 loops, best of 5: 2.78 ms per loop

In [44]:
df_eval.head()

   hr  holiday  workingday  temp  ...  Misty  new_col_apply  new_col  new_col_eval
0   0        0           0  0.76  ...      0           1.42     1.42          1.42
1   1        0           0  0.74  ...      0           1.44     1.44          1.44
2   2        0           0  0.72  ...      0           1.46     1.46          1.46
3   3        0           0  0.72  ...      0           1.56     1.56          1.56
4   4        0           0  0.70  ...      0           1.49     1.49          1.49

[5 rows x 16 columns]

In [45]:
df['new_col_vect'] = df['temp'] + df['atemp']

In [46]:
%%timeit
df['new_col_vect'] = df['temp'] + df['atemp']

1000 loops, best of 5: 298 Âµs per loop

End